# Format for this notecard:
# each non-comment line MUST start with one of: light, glow, or projector, followed by a =
# after each of these, the parameters for the light, as follows:
# light=integer link_num, vector linear_color, float intensity, float radius, float falloff
# projector=integer link_num, string texture, float fov, float focus, float ambiance
# glow=integer link_num, integer face, float intensity
# fullbright=integer link, integer face
# Ref. https://wiki.secondlife.com/wiki/LlSetPrimitiveParams
# IMPORTANT: If you have a projector, you MUST also have a light for the same link number
# Examples:
toggletimer=70.0
delay=0.2
light=2, <0.599, 1.000, 1.000>, 0.6, 4.0, 0.5
fullbright=2, 1
glow=4, 3, 0.9
projector=2, 3b7726fc-26f1-581f-11fc-9a59b21cad8f, 1.57, 0.0, 0.0
light=4, <1.0, 0.0, 0.0>, 0.9, 4.0, 0.5
