# See the included read me for an explanation of the allowed commands.
# Examples:
autodaynightswitch=TRUE
toggletimer=70.0
delay=0.2
light=2, <0.599, 1.000, 1.000>, 0.6, 4.0, 0.5
fullbright=2, 1
glow=4, 3, 0.9
projector=2, 3b7726fc-26f1-581f-11fc-9a59b21cad8f, 1.57, 0.0, 0.0
light=4, <1.0, 0.0, 0.0>, 0.9, 4.0, 0.5
